/* Le header de base des pages. */

.header {
    margin: 0px;
    padding: 0px;
    background-color: #3B7ABA;
    box-sizing: border-box;
    width: 100%;
    height: 186px;
}

nav h1 {
    margin: 0px;
    padding: 60px 24px;
    font-size : 26px;
    font-family: 'Montserrat';
    float: left;
    color: white;
}

.search_box {
    position: fixed;
    width: 335px;
    height: 46px;
    border-radius: 12px;
    margin : 124px 20px;
    padding: 0px 10px;
}

.elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.search {
    border:none;
    height: 100%;
    width:100%;
    padding: 0px 5px;
    border-radius: 12px;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #C2C4CB;
    font-weight: 500;
}

.search:focus {
    outline:none;
}

.material-icons {
    font-size: 29px;
    color: black;
}
