/* Le header de base des pages. */

            /* ________Medias queries_________*/
/* All */
@media all and (min-width: 677px){
    #all{
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 677px;
    }

}
.header {
    z-index: 5;
    margin: 0px;
    padding: 0px;
    background-color: #3B7ABA;
    box-sizing: border-box;
    width: 100%;
    height: 186px;
    position: fixed;
    top: 0px;
}
#DATE{
    margin-top: 50px;
    margin-left: 22px;
    margin-bottom:4px;
    color: #C2C4CB;
    font-size: 10px;
    font-family: "Montserrat";
    font-weight: 600;
}
div> h1 {
    margin-left: 21px;
    font-size : 26px;
    font-family: 'Montserrat';
    float: left;
    color: white;
}

/* SearchBox */
/* link : https://www.youtube.com/watch?v=csY6KW7cIUM&t=6s */
.boxContainer{
    margin-left:20px;
    position: absolute;
    margin-top: 46px;
    height:42px;
    background-color: white;
    border-radius: 12px;
    padding: 0px 10px;
    max-width: 677px;
    width: 80%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 500px;
    justify-content: space-between;
}
.search{
    border:none;
    height:40px;
    width:270px;
    padding: 0px 5px;
    border-radius: 12px;
    font-size: 16px;
    font-family:"Montserrat";
    font-weight: 500;
    color:#C2C4CB;
}
.search:focus {
    outline:none;
}
.material-icons {
    cursor: pointer;
    font-size: 29px;
    color:#636262;
    transform:translateY(25%);
}

td:last-child{
    position:absolute;
    right: 10px;
    top:3px;
} 

