/*root: */





/*Bottom Icon Nav bar*/
body {
    /* margin: 0 0 85px 0; */
    background-color: #F5F5F5;
}

.nav {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 85px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
    margin:none;
}

.nav__link { /*Demarcation des icones par des cases/colonnes*/
    display: flex;
    flex-direction: column; /*Icones alignés*/
    align-items: center;/*Icones centrés*/
    justify-content: center;
    flex-grow: 1; /*Pour couvrir l'espace restant de l'écran. 1 : Répartition égale */
    min-width: 50px; /*Sur un minimum de 50px sinon moins que ca, c'est inutilisable pour l'utilisateur*/
    overflow: hidden; /*Si débordement icones => cela va être caché*/
    white-space: nowrap; /*Pour que le texte ne deborde pas sur une nouvelle colonne*/
    font-family: Montserrat;
    font-size: 11px;
    color: #999999;
    text-decoration: none; /*Enlever le soulignement du texte*/
    -webkit-tap-highlight-color: transparent; /*Clique selction d'icone transparent*/
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #eeeeee;/*Apparence en survolant avec le pointeur les icones, sans nécessairement l'activer.*/
}

.nav__link--activeBlue { /*Home : couleur Bleu*/
    color: #27527C;
}

.nav__icon {
    font-size: 29px;
}


/*Header*/
header {
    top: 0;
    padding: 0px;
    position: fixed;
    background-color: #3B7ABA;
    box-sizing: border-box;
    width: 100%;
    height: 186px;
    /* position: relative; */
    /* margin: none; */
}



header > h1 {
    /* margin: 0px; */
    padding-top: 60px;
    padding-left: 24px;
    font-size : 26px;
    font-family: Montserrat;
    color: white;
}

.elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.input {
    background: #ffffff;
    border-radius: 12px;
    width: max-content;
    padding: 15px;
    margin:auto 50px auto;
}

input {
    border:none;
    outline: none;
}

input:focus {
    border:none;
    outline:none;
}
.material-icons {
    font-size: 29px;
    color: #636262;
}


/*Appointment*/
.AppointmentContainer {
    background-color: white;
    border-radius: 12px;
    box-shadow: 3px 3px 3px red;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 23px;
    margin-bottom: 10px;;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

h4 {/*Top_part*/
    font-family: Montserrat;
    font-size: 15px;
    color: #27527C;
}

p {
    font-family: Montserrat;
    font-size: 10px;
}

.Time > p{/*Bottom_part*/
    font-family: Montserrat;
    font-size: 14px;
    font-weight: Bold;
    color: #27527C;
    padding-left: 7px;
    position: relative;
    top: -12px;
}

.Calendar > p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: Bold;
    color: #27527C;
    padding-left: 7px;
    position: relative;
    top: -12px;
}

.AppointmentContainer_bottom {
    display: flex;
}

.Calendar{
    display: flex;
    padding-right: 30px;
    height: 20px;
}

.Time{
    display: flex;
    height: 20px;
}

/*TitleProgression*/

.TitleProgressionContainer{
    width: 100%;
    overflow-x: auto;
    padding-left: 20px;
    display: grid;
}

.TitleProgression{
    display: grid;
    position: relative;
    align-items: center;
    overflow-x: auto;
}

.MyProgression{ /*Title*/
    font-size: 22px;
    font-family: Montserrat;
    color: #27527C;
}

.IconHelp { /*Icon Help*/
    height: 17px;
    width: 17px;
    position: relative;
    left: 190px;
    top: -38px;
}

button { /*CTA Button "TOUT VOIR"*/
    background: none;
    color: #466EFE;
    width: 91px;
    height: 32px;
    border: 1px solid #466EFE;
    font-size: 12px;
    font-weight: bold;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    top: -65px;
    right: -245px;
}


/*Progression Stat Block*/

.ProgressionStatBlock {
    width: 335px;
    height: 284px;
    background-color: #3B7ABA;
    margin-left: 20px;
    border-radius:12px;
    margin-top: -35px;
}


/*Weekly Mission*/

h3 {
    font-size: 18px;
    font-family: Montserrat;
    color:#27527C;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 20px;
}


/*Weekly mission box : Finish CV*/
.CvContainer {
    height:116px;
    width:335px;
    background-color: #3B7ABA;
    margin-left: 20px;
    border-radius: 12px;
}

.CvContainer > h4 {
    color: white;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px
}

.CvContainer > p {
    padding-left: 20px;
    color: white;
    font-weight: lighter;
}


/* Other */
p#top {
    height: 186px;
}